<template name="ziadanka">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h3 class="form-title">Žiadanka na vlastnú opravu alebo údržbu č.: {{ziadanka.cislo}}</h3>
        <form class="form-horizontal">
          <!-- Kontakt -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Kontakt</label>
            <div class="col-sm-9">
              <span style="color: #072384;">{{ziadatelInfo.titulPred}} {{ziadatelInfo.meno}} {{ziadatelInfo.priezvisko}}, {{ziadatelInfo.titulZa}}</span>
            </div>
          </div>
          <!-- Utvar -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Útvar/katedra/klinika</label>
            <div class="col-sm-9">
              {{ziadatelInfo.utvar}}
            </div>
          </div>
          <!-- Pracovisko -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Pracovisko</label>
            <div class="col-sm-9">
              {{ziadatelInfo.pracovisko}}
            </div>
          </div>
          <!-- Referat -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Referát</label>
            <div class="col-sm-9">
              {{ziadatelInfo.referat}}
            </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <a href="mailto:{{ziadatelInfo.email}}">{{ziadatelInfo.email}}</a>
            </div>
          </div>
          <!-- Telefon -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Telefón</label>
            <div class="col-sm-9">
              <i>{{ziadatelInfo.telefon}}</i>
            </div>
          </div>
          <!-- Klapka -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Klapka</label>
            <div class="col-sm-9">
              <i>{{ziadatelInfo.klapka}}</i>
            </div>
          </div>

          <!-- Miesto problemu -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Miesto</label>
            <div class="col-sm-9">
              {{this.miesto}}
            </div>
          </div>
          <!-- Predmet požiadavky -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Predmet požiadavky</label>
            <div class="col-sm-9">
              {{this.sprava}}
            </div>
          </div>
          <!-- Dátum vystavenia -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Dátum vystavenia</label>
            <div class="col-sm-9">
              {{this.createdAt}}
            </div>
          </div>

          <!-- Termín začatia prác -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Začatie prác</label>
            <div class="col-sm-9">
              {{ziadanka.zacatiePrac}}
            </div>
          </div>
          <!-- Termín ukončenia prác -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Ukončenie prác</label>
            <div class="col-sm-9">
              {{ziadanka.ukonceniePrac}}
            </div>
          </div>
          <!-- Súpis dodávok -->
          <div class="form-group">
            <label class="col-sm-3 control-label">{{afFieldLabelText name='supisDodavok'}}</label>
            <div class="col-sm-9">
              {{> afFieldInput name='supisDodavok'}}
            </div>
          </div>
          <!-- Priorita -->
          <div class="form-group">
            <label class="col-sm-3 control-label">{{afFieldLabelText name='priorita'}}</label>
            <div class="col-sm-9">
              {{> afFieldInput name='priorita'}}
            </div>
          </div>
          <!-- Prideleny pracovnik -->
          <div class="form-group">
            <label class="col-sm-3 control-label">{{afFieldLabelText name='pridelenyPracovnik'}}</label>
            <div class="col-sm-9">
              {{> afFieldInput name='pridelenyPracovnik'}}
            </div>
          </div>

        </form>
      
      </div>
    </div>

    <hr>
    
  </div>

  <footer>
    <div class="container" style="display:inline-block;">
      <div class="pull-left">
      <hr style="color: #FFF;
                background-color: #FFF;
                height: 1px;
                width: 150px;
                border-width: 1px medium medium;
                border-style: dotted none none;
                border-color: #000 -moz-use-text-color -moz-use-text-color;
                -moz-border-top-colors: none;
                -moz-border-right-colors: none;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                border-image: none;
                position: absolute;
                float: left;"><br>
        <span>Dátum</span>
      </div>
      <div class="pull-right">
      <hr style="color: #FFF;
                background-color: #FFF;
                height: 1px;
                width: 150px;
                border-width: 1px medium medium;
                border-style: dotted none none;
                border-color: #000 -moz-use-text-color -moz-use-text-color;
                -moz-border-top-colors: none;
                -moz-border-right-colors: none;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                border-image: none;
                position: absolute;
                float: right;"><br>
        <span>Podpis</span>
      </div>
    </div>
  </footer>
</template>